/*
   Spinner animation
*/
.animate-spin {
  animation: spin 2s infinite linear;
  display: inline-block; }

keyframes spin 0% {
  transform: rotate(0deg); }

keyframes spin 100% {
  transform: rotate(359deg); }

[class^="oni-icon-"],
[class*=" oni-icon-"] {
  display: inline-block;
  width: 2rem;
  height: 2rem; }
  [class^="oni-icon-"] .onisvgicon,
  [class*=" oni-icon-"] .onisvgicon {
    width: 100%;
    height: 100%; }

.oni-png-icon[class^="oni-icon-"], .oni-png-icon[class*=" oni-icon-"] {
  background-repeat: no-repeat;
  background-image: url(../images/sprite.png); }

.oni-icon-books {
  width: 2.25rem;
  height: 2rem; }

.oni-icon-library {
  width: 2.125rem;
  height: 2rem; }

.oni-icon-price-tags {
  width: 2.5rem;
  height: 2rem; }

.oni-icon-bubbles2 {
  width: 2.25rem;
  height: 2rem; }

.oni-icon-users {
  width: 2.25rem;
  height: 2rem; }

.oni-icon-embed2 {
  width: 2.5rem;
  height: 2rem; }

.no-js [class^="oni-icon-"],
.no-js [class*=" oni-icon-"],
.no-svg [class^="oni-icon-"],
.no-svg [class*=" oni-icon-"] {
  background-repeat: no-repeat;
  background-image: url(../images/sprite.png); }

.no-js .oni-icon-home,
.no-svg .oni-icon-home {
  background-position: 0 0; }

.no-js .oni-icon-office,
.no-svg .oni-icon-office {
  background-position: -48px 0; }

.no-js .oni-icon-newspaper,
.no-svg .oni-icon-newspaper {
  background-position: -96px 0; }

.no-js .oni-icon-pencil,
.no-svg .oni-icon-pencil {
  background-position: -144px 0; }

.no-js .oni-icon-image,
.no-svg .oni-icon-image {
  background-position: -192px 0; }

.no-js .oni-icon-camera,
.no-svg .oni-icon-camera {
  background-position: -240px 0; }

.no-js .oni-icon-music,
.no-svg .oni-icon-music {
  background-position: -288px 0; }

.no-js .oni-icon-video-camera,
.no-svg .oni-icon-video-camera {
  background-position: -336px 0; }

.no-js .oni-icon-bullhorn,
.no-svg .oni-icon-bullhorn {
  background-position: -384px 0; }

.no-js .oni-icon-book,
.no-svg .oni-icon-book {
  background-position: -432px 0; }

.no-js .oni-icon-books,
.no-svg .oni-icon-books {
  background-position: -480px 0; }

.no-js .oni-icon-library,
.no-svg .oni-icon-library {
  background-position: -528px 0; }

.no-js .oni-icon-profile,
.no-svg .oni-icon-profile {
  background-position: -576px 0; }

.no-js .oni-icon-file-text2,
.no-svg .oni-icon-file-text2 {
  background-position: -624px 0; }

.no-js .oni-icon-file-zip,
.no-svg .oni-icon-file-zip {
  background-position: -672px 0; }

.no-js .oni-icon-folder,
.no-svg .oni-icon-folder {
  background-position: -720px 0; }

.no-js .oni-icon-folder-open,
.no-svg .oni-icon-folder-open {
  background-position: 0 -48px; }

.no-js .oni-icon-price-tag,
.no-svg .oni-icon-price-tag {
  background-position: -48px -48px; }

.no-js .oni-icon-price-tags,
.no-svg .oni-icon-price-tags {
  background-position: -96px -48px; }

.no-js .oni-icon-ticket,
.no-svg .oni-icon-ticket {
  background-position: -144px -48px; }

.no-js .oni-icon-cart,
.no-svg .oni-icon-cart {
  background-position: -192px -48px; }

.no-js .oni-icon-credit-card,
.no-svg .oni-icon-credit-card {
  background-position: -240px -48px; }

.no-js .oni-icon-phone,
.no-svg .oni-icon-phone {
  background-position: -288px -48px; }

.no-js .oni-icon-address-book,
.no-svg .oni-icon-address-book {
  background-position: -336px -48px; }

.no-js .oni-icon-envelop,
.no-svg .oni-icon-envelop {
  background-position: -384px -48px; }

.no-js .oni-icon-pushpin,
.no-svg .oni-icon-pushpin {
  background-position: -432px -48px; }

.no-js .oni-icon-location,
.no-svg .oni-icon-location {
  background-position: -480px -48px; }

.no-js .oni-icon-compass2,
.no-svg .oni-icon-compass2 {
  background-position: -528px -48px; }

.no-js .oni-icon-map,
.no-svg .oni-icon-map {
  background-position: -576px -48px; }

.no-js .oni-icon-clock,
.no-svg .oni-icon-clock {
  background-position: -624px -48px; }

.no-js .oni-icon-bell,
.no-svg .oni-icon-bell {
  background-position: -672px -48px; }

.no-js .oni-icon-printer,
.no-svg .oni-icon-printer {
  background-position: -720px -48px; }

.no-js .oni-icon-box-add,
.no-svg .oni-icon-box-add {
  background-position: 0 -96px; }

.no-js .oni-icon-box-remove,
.no-svg .oni-icon-box-remove {
  background-position: -48px -96px; }

.no-js .oni-icon-floppy-disk,
.no-svg .oni-icon-floppy-disk {
  background-position: -96px -96px; }

.no-js .oni-icon-bubble,
.no-svg .oni-icon-bubble {
  background-position: -144px -96px; }

.no-js .oni-icon-bubbles2,
.no-svg .oni-icon-bubbles2 {
  background-position: -192px -96px; }

.no-js .oni-icon-user,
.no-svg .oni-icon-user {
  background-position: -240px -96px; }

.no-js .oni-icon-users,
.no-svg .oni-icon-users {
  background-position: -288px -96px; }

.no-js .oni-icon-user-plus,
.no-svg .oni-icon-user-plus {
  background-position: -336px -96px; }

.no-js .oni-icon-user-tie,
.no-svg .oni-icon-user-tie {
  background-position: -384px -96px; }

.no-js .oni-icon-quotes-left,
.no-svg .oni-icon-quotes-left {
  background-position: -432px -96px; }

.no-js .oni-icon-quotes-right,
.no-svg .oni-icon-quotes-right {
  background-position: -480px -96px; }

.no-js .oni-icon-spinner,
.no-svg .oni-icon-spinner {
  background-position: -528px -96px; }

.no-js .oni-icon-search,
.no-svg .oni-icon-search {
  background-position: -576px -96px; }

.no-js .oni-icon-zoom-in,
.no-svg .oni-icon-zoom-in {
  background-position: -624px -96px; }

.no-js .oni-icon-zoom-out,
.no-svg .oni-icon-zoom-out {
  background-position: -672px -96px; }

.no-js .oni-icon-key,
.no-svg .oni-icon-key {
  background-position: -720px -96px; }

.no-js .oni-icon-lock,
.no-svg .oni-icon-lock {
  background-position: 0 -144px; }

.no-js .oni-icon-unlocked,
.no-svg .oni-icon-unlocked {
  background-position: -48px -144px; }

.no-js .oni-icon-wrench,
.no-svg .oni-icon-wrench {
  background-position: -96px -144px; }

.no-js .oni-icon-equalizer2,
.no-svg .oni-icon-equalizer2 {
  background-position: -144px -144px; }

.no-js .oni-icon-cog,
.no-svg .oni-icon-cog {
  background-position: -192px -144px; }

.no-js .oni-icon-pie-chart,
.no-svg .oni-icon-pie-chart {
  background-position: -240px -144px; }

.no-js .oni-icon-stats-bars,
.no-svg .oni-icon-stats-bars {
  background-position: -288px -144px; }

.no-js .oni-icon-trophy,
.no-svg .oni-icon-trophy {
  background-position: -336px -144px; }

.no-js .oni-icon-glass,
.no-svg .oni-icon-glass {
  background-position: -384px -144px; }

.no-js .oni-icon-mug,
.no-svg .oni-icon-mug {
  background-position: -432px -144px; }

.no-js .oni-icon-spoon-knife,
.no-svg .oni-icon-spoon-knife {
  background-position: -480px -144px; }

.no-js .oni-icon-meter,
.no-svg .oni-icon-meter {
  background-position: -528px -144px; }

.no-js .oni-icon-fire,
.no-svg .oni-icon-fire {
  background-position: -576px -144px; }

.no-js .oni-icon-lab,
.no-svg .oni-icon-lab {
  background-position: -624px -144px; }

.no-js .oni-icon-bin,
.no-svg .oni-icon-bin {
  background-position: -672px -144px; }

.no-js .oni-icon-briefcase,
.no-svg .oni-icon-briefcase {
  background-position: -720px -144px; }

.no-js .oni-icon-airplane,
.no-svg .oni-icon-airplane {
  background-position: 0 -192px; }

.no-js .oni-icon-truck,
.no-svg .oni-icon-truck {
  background-position: -48px -192px; }

.no-js .oni-icon-switch,
.no-svg .oni-icon-switch {
  background-position: -96px -192px; }

.no-js .oni-icon-power-cord,
.no-svg .oni-icon-power-cord {
  background-position: -144px -192px; }

.no-js .oni-icon-tree,
.no-svg .oni-icon-tree {
  background-position: -192px -192px; }

.no-js .oni-icon-sphere,
.no-svg .oni-icon-sphere {
  background-position: -240px -192px; }

.no-js .oni-icon-earth,
.no-svg .oni-icon-earth {
  background-position: -288px -192px; }

.no-js .oni-icon-link,
.no-svg .oni-icon-link {
  background-position: -336px -192px; }

.no-js .oni-icon-flag,
.no-svg .oni-icon-flag {
  background-position: -384px -192px; }

.no-js .oni-icon-attachment,
.no-svg .oni-icon-attachment {
  background-position: -432px -192px; }

.no-js .oni-icon-eye,
.no-svg .oni-icon-eye {
  background-position: -480px -192px; }

.no-js .oni-icon-bookmark,
.no-svg .oni-icon-bookmark {
  background-position: -528px -192px; }

.no-js .oni-icon-bookmarks,
.no-svg .oni-icon-bookmarks {
  background-position: -576px -192px; }

.no-js .oni-icon-star-empty,
.no-svg .oni-icon-star-empty {
  background-position: -624px -192px; }

.no-js .oni-icon-star-full,
.no-svg .oni-icon-star-full {
  background-position: -672px -192px; }

.no-js .oni-icon-heart,
.no-svg .oni-icon-heart {
  background-position: -720px -192px; }

.no-js .oni-icon-man,
.no-svg .oni-icon-man {
  background-position: 0 -240px; }

.no-js .oni-icon-woman,
.no-svg .oni-icon-woman {
  background-position: -48px -240px; }

.no-js .oni-icon-happy,
.no-svg .oni-icon-happy {
  background-position: -96px -240px; }

.no-js .oni-icon-sad,
.no-svg .oni-icon-sad {
  background-position: -144px -240px; }

.no-js .oni-icon-grin,
.no-svg .oni-icon-grin {
  background-position: -192px -240px; }

.no-js .oni-icon-angry,
.no-svg .oni-icon-angry {
  background-position: -240px -240px; }

.no-js .oni-icon-shocked,
.no-svg .oni-icon-shocked {
  background-position: -288px -240px; }

.no-js .oni-icon-frustrated,
.no-svg .oni-icon-frustrated {
  background-position: -336px -240px; }

.no-js .oni-icon-crying,
.no-svg .oni-icon-crying {
  background-position: -384px -240px; }

.no-js .oni-icon-notification,
.no-svg .oni-icon-notification {
  background-position: -432px -240px; }

.no-js .oni-icon-question,
.no-svg .oni-icon-question {
  background-position: -480px -240px; }

.no-js .oni-icon-plus,
.no-svg .oni-icon-plus {
  background-position: -528px -240px; }

.no-js .oni-icon-minus,
.no-svg .oni-icon-minus {
  background-position: -576px -240px; }

.no-js .oni-icon-info,
.no-svg .oni-icon-info {
  background-position: -624px -240px; }

.no-js .oni-icon-cancel-circle,
.no-svg .oni-icon-cancel-circle {
  background-position: -672px -240px; }

.no-js .oni-icon-blocked,
.no-svg .oni-icon-blocked {
  background-position: -720px -240px; }

.no-js .oni-icon-cross,
.no-svg .oni-icon-cross {
  background-position: 0 -288px; }

.no-js .oni-icon-checkmark,
.no-svg .oni-icon-checkmark {
  background-position: -48px -288px; }

.no-js .oni-icon-play3,
.no-svg .oni-icon-play3 {
  background-position: -96px -288px; }

.no-js .oni-icon-loop,
.no-svg .oni-icon-loop {
  background-position: -144px -288px; }

.no-js .oni-icon-loop2,
.no-svg .oni-icon-loop2 {
  background-position: -192px -288px; }

.no-js .oni-icon-arrow-up-left,
.no-svg .oni-icon-arrow-up-left {
  background-position: -240px -288px; }

.no-js .oni-icon-arrow-up,
.no-svg .oni-icon-arrow-up {
  background-position: -288px -288px; }

.no-js .oni-icon-arrow-up-right,
.no-svg .oni-icon-arrow-up-right {
  background-position: -336px -288px; }

.no-js .oni-icon-arrow-right,
.no-svg .oni-icon-arrow-right {
  background-position: -384px -288px; }

.no-js .oni-icon-arrow-down-right,
.no-svg .oni-icon-arrow-down-right {
  background-position: -432px -288px; }

.no-js .oni-icon-arrow-down,
.no-svg .oni-icon-arrow-down {
  background-position: -480px -288px; }

.no-js .oni-icon-arrow-down-left,
.no-svg .oni-icon-arrow-down-left {
  background-position: -528px -288px; }

.no-js .oni-icon-arrow-left,
.no-svg .oni-icon-arrow-left {
  background-position: -576px -288px; }

.no-js .oni-icon-arrow-up-left2,
.no-svg .oni-icon-arrow-up-left2 {
  background-position: -624px -288px; }

.no-js .oni-icon-arrow-up2,
.no-svg .oni-icon-arrow-up2 {
  background-position: -672px -288px; }

.no-js .oni-icon-arrow-up-right2,
.no-svg .oni-icon-arrow-up-right2 {
  background-position: -720px -288px; }

.no-js .oni-icon-arrow-right2,
.no-svg .oni-icon-arrow-right2 {
  background-position: 0 -336px; }

.no-js .oni-icon-arrow-down-right2,
.no-svg .oni-icon-arrow-down-right2 {
  background-position: -48px -336px; }

.no-js .oni-icon-arrow-down2,
.no-svg .oni-icon-arrow-down2 {
  background-position: -96px -336px; }

.no-js .oni-icon-arrow-down-left2,
.no-svg .oni-icon-arrow-down-left2 {
  background-position: -144px -336px; }

.no-js .oni-icon-arrow-left2,
.no-svg .oni-icon-arrow-left2 {
  background-position: -192px -336px; }

.no-js .oni-icon-circle-up,
.no-svg .oni-icon-circle-up {
  background-position: -240px -336px; }

.no-js .oni-icon-circle-right,
.no-svg .oni-icon-circle-right {
  background-position: -288px -336px; }

.no-js .oni-icon-circle-down,
.no-svg .oni-icon-circle-down {
  background-position: -336px -336px; }

.no-js .oni-icon-circle-left,
.no-svg .oni-icon-circle-left {
  background-position: -384px -336px; }

.no-js .oni-icon-checkbox-checked,
.no-svg .oni-icon-checkbox-checked {
  background-position: -432px -336px; }

.no-js .oni-icon-checkbox-unchecked,
.no-svg .oni-icon-checkbox-unchecked {
  background-position: -480px -336px; }

.no-js .oni-icon-radio-checked,
.no-svg .oni-icon-radio-checked {
  background-position: -528px -336px; }

.no-js .oni-icon-radio-checked2,
.no-svg .oni-icon-radio-checked2 {
  background-position: -576px -336px; }

.no-js .oni-icon-radio-unchecked,
.no-svg .oni-icon-radio-unchecked {
  background-position: -624px -336px; }

.no-js .oni-icon-filter,
.no-svg .oni-icon-filter {
  background-position: -672px -336px; }

.no-js .oni-icon-share,
.no-svg .oni-icon-share {
  background-position: -720px -336px; }

.no-js .oni-icon-new-tab,
.no-svg .oni-icon-new-tab {
  background-position: 0 -384px; }

.no-js .oni-icon-embed2,
.no-svg .oni-icon-embed2 {
  background-position: -48px -384px; }

.no-js .oni-icon-share2,
.no-svg .oni-icon-share2 {
  background-position: -96px -384px; }

.no-js .oni-icon-google-plus,
.no-svg .oni-icon-google-plus {
  background-position: -144px -384px; }

.no-js .oni-icon-google-plus2,
.no-svg .oni-icon-google-plus2 {
  background-position: -192px -384px; }

.no-js .oni-icon-facebook,
.no-svg .oni-icon-facebook {
  background-position: -240px -384px; }

.no-js .oni-icon-facebook2,
.no-svg .oni-icon-facebook2 {
  background-position: -288px -384px; }

.no-js .oni-icon-instagram,
.no-svg .oni-icon-instagram {
  background-position: -336px -384px; }

.no-js .oni-icon-twitter,
.no-svg .oni-icon-twitter {
  background-position: -384px -384px; }

.no-js .oni-icon-twitter2,
.no-svg .oni-icon-twitter2 {
  background-position: -432px -384px; }

.no-js .oni-icon-feed2,
.no-svg .oni-icon-feed2 {
  background-position: -480px -384px; }

.no-js .oni-icon-feed3,
.no-svg .oni-icon-feed3 {
  background-position: -528px -384px; }

.no-js .oni-icon-youtube,
.no-svg .oni-icon-youtube {
  background-position: -576px -384px; }

.no-js .oni-icon-youtube3,
.no-svg .oni-icon-youtube3 {
  background-position: -624px -384px; }

.no-js .oni-icon-dropbox,
.no-svg .oni-icon-dropbox {
  background-position: -672px -384px; }

.no-js .oni-icon-github4,
.no-svg .oni-icon-github4 {
  background-position: -720px -384px; }

.no-js .oni-icon-wordpress,
.no-svg .oni-icon-wordpress {
  background-position: 0 -432px; }

.no-js .oni-icon-apple,
.no-svg .oni-icon-apple {
  background-position: -48px -432px; }

.no-js .oni-icon-android,
.no-svg .oni-icon-android {
  background-position: -96px -432px; }

.no-js .oni-icon-windows8,
.no-svg .oni-icon-windows8 {
  background-position: -144px -432px; }

.no-js .oni-icon-soundcloud,
.no-svg .oni-icon-soundcloud {
  background-position: -192px -432px; }

.no-js .oni-icon-soundcloud2,
.no-svg .oni-icon-soundcloud2 {
  background-position: -240px -432px; }

.no-js .oni-icon-skype,
.no-svg .oni-icon-skype {
  background-position: -288px -432px; }

.no-js .oni-icon-linkedin,
.no-svg .oni-icon-linkedin {
  background-position: -336px -432px; }

.no-js .oni-icon-linkedin2,
.no-svg .oni-icon-linkedin2 {
  background-position: -384px -432px; }

.no-js .oni-icon-pinterest,
.no-svg .oni-icon-pinterest {
  background-position: -432px -432px; }

.no-js .oni-icon-pinterest2,
.no-svg .oni-icon-pinterest2 {
  background-position: -480px -432px; }

.no-js .oni-icon-paypal,
.no-svg .oni-icon-paypal {
  background-position: -528px -432px; }

.no-js .oni-icon-file-pdf,
.no-svg .oni-icon-file-pdf {
  background-position: -576px -432px; }

.no-js .oni-icon-file-word,
.no-svg .oni-icon-file-word {
  background-position: -624px -432px; }

.no-js .oni-icon-file-excel,
.no-svg .oni-icon-file-excel {
  background-position: -672px -432px; }

.no-js .oni-icon-svg,
.no-svg .oni-icon-svg {
  background-position: -720px -432px; }

.icons-selector {
  box-sizing: border-box;
  display: inline-block;
  font: inherit; }
  .icons-selector *, .icons-selector:before, .icons-selector:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline; }
  .icons-selector .selector {
    border: 1px solid #DADEDF;
    width: 100px;
    height: 40px;
    background-color: #FEFEFE; }
  .icons-selector .selector-button {
    background-color: #FEFEFE;
    width: 39px;
    height: 100%;
    display: block;
    text-align: center;
    cursor: pointer;
    float: left;
    border-left: 1px solid #ededed; }
    .icons-selector .selector-button:hover {
      background-color: #f6f6f6; }
    .icons-selector .selector-button:hover svg {
      fill: #C1C7C9; }
    .icons-selector .selector-button svg {
      width: 20px;
      height: 20px;
      margin-top: 10px;
      text-align: center;
      fill: #A7B0B2; }
  .icons-selector .selected-icon {
    display: block;
    width: 59px;
    height: 100%;
    float: left;
    text-align: center; }
    .icons-selector .selected-icon svg {
      width: 24px;
      height: 24px;
      margin-top: 7px;
      cursor: default;
      fill: #131516; }
  .icons-selector .selector-popup {
    position: absolute;
    z-index: 10000;
    background-color: #FEFEFE;
    padding: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    height: auto;
    width: 300px;
    border: 1px solid #DADEDF;
    margin-top: -1px; }
    @media only screen and (min-width: 375px) {
      .icons-selector .selector-popup {
        width: 344px; } }
  .icons-selector .selector-search input[type=text] {
    line-height: 20px;
    padding: 10px 2.5%;
    width: 100%;
    border: 1px solid #DADEDF;
    box-sizing: border-box;
    margin-bottom: 5px;
    font-size: 12px;
    color: #131516;
    box-shadow: none;
    outline: 0; }
  .icons-selector .selector-search svg {
    fill: #C1C7C9;
    margin-left: -30px;
    width: 16px;
    height: 16px;
    position: relative;
    top: 4px; }
  .icons-selector input::-webkit-input-placeholder {
    color: #C1C7C9;
    text-transform: uppercase; }
  .icons-selector input::-moz-placeholder {
    color: #C1C7C9;
    text-transform: uppercase; }
  .icons-selector input:-moz-placeholder {
    color: #C1C7C9;
    text-transform: uppercase; }
  .icons-selector input:-ms-input-placeholder {
    color: #C1C7C9 !important;
    text-transform: uppercase; }
  .icons-selector input::input-placeholder {
    color: #C1C7C9;
    text-transform: uppercase; }
  .icons-selector .sip-icons-container {
    width: 100%;
    background-color: #FEFEFE;
    border: 1px solid #DADEDF;
    box-sizing: border-box; }
    .icons-selector .sip-icons-container .loading {
      fill: #F2F3F4;
      margin: 20px auto;
      text-align: center;
      width: 1.5rem;
      height: 1.5rem; }
  .icons-selector .sip-box {
    height: 40px;
    border: 1px solid #DADEDF;
    display: inline-block;
    margin: 2px;
    width: 60px;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    vertical-align: top;
    transition: background-color .3s; }
    .icons-selector .sip-box:focus, .icons-selector .sip-box:hover {
      background-color: #1496BB; }
    .icons-selector .sip-box > svg {
      width: 24px;
      height: 24px;
      margin-top: 8px; }
  .icons-selector .selector-footer {
    color: #A7B0B2;
    line-height: 16px;
    padding: 10px 5px 0; }
    .icons-selector .selector-footer svg {
      fill: currentColor; }
  .icons-selector .selector-arrows {
    float: right; }
    .icons-selector .selector-arrows svg {
      cursor: pointer;
      width: 16px;
      height: 16px; }
      .icons-selector .selector-arrows svg:hover {
        fill: #C1C7C9; }
  .icons-selector .selector-arrow-right {
    margin-left: 5px; }
  .icons-selector span.current-icon, .icons-selector span.current-icon:hover {
    background-color: #1496BB;
    color: #FEFEFE;
    border: 1px solid #128aac; }
  .icons-selector .icons-picker-error svg {
    fill: #F2F3F4;
    width: 1.25rem;
    height: 1.25rem;
    margin: 20px auto;
    display: block;
    cursor: default; }
  .icons-selector .sip-icon-search {
    cursor: default; }
  .icons-selector .sip-icon-cancel {
    cursor: pointer; }
  .icons-selector .sip-icon-block[data-sip-value="sip-icon-block"],
  .icons-selector .selected-icon svg.sip-icon-block {
    fill: #D94E20; }
  .icons-selector .sip-icon-spin {
    animation: spin 2s infinite linear;
    display: inline-block; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(359deg); } }

.no_box .icons-selector .selector,
#edittag .icons-selector .selector,
#addtag .icons-selector .selector {
  border: 1px solid #DADEDF; }

#addtag .icons-selector .selector-popup,
#edittag .icons-selector .selector-popup {
  position: relative; }

/*# sourceMappingURL=oni-iconpicker.css.map */
