<section id="events" class="widget widget-event-listing">
    <h3 class="widget-title">Upcoming Events</h3>
    <ul>
        <li class="event">
            <time class="event-date">
                <span class="event-month"><?= date('M'); ?></span>
                <span class="event-day"><?= date('d'); ?></span>
            </time>
            <div class="event-desc">
                <h4 class="event-desc-header">Grow Your Sales</h4>
                <span class="event-desc-detail"><span class="event-desc-time"></span>Baker College of Flint, Technology Building</span>
                <a href="http://bdconf.com/speakers/brandon-arnold/" class="small button rsvp">RSVP &amp; Details</a>
            </div>
        </li>
    </ul>
</section>
